

/*==========================BODY AND MAIN===========================================*/

body {
background-image:url(../images/body-background.gif);
    font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1.5;
}

.main{
   margin-top: 180px;

}

.work a img{    
  height: 50px;
  width: 50px;
  display: block;
  background-color: #5b5955;
  margin: 33px auto;
 margin-top: 15px;    
}

.work{text-align: center;padding: 18px;margin-left: 7px;}
.tittle{margin-top: -26px}
.tittle p{margin-top: -10px;font-size: 10px;font-weight: 700}
.border{
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

a .erp,a .theme,a .android,.bold,.seo,.graphics,.photography,.solution {
  height: 50px;
  width: 50px;
  display: block;
  font-size: 50px;
  margin: 33px auto;
  margin-top: 15px;
  color: #5b5955;
}

span.outer {
  background: #B4DA74;
  color: #FFF;
  font-size: 26px;
  margin: 185px;
  text-align: center;
  border-radius: 14px;
  padding: 5px;
}
.recent,.about_us,.what_we_do {
  margin-top: -60px;
  
}

.border-top {
 margin-top: 40px;
}
.border-bottom {

}
.border-top img,.border-bottom img {
  width: 247px;
}
/*==========================BACKGROUND===========================================*/

.bg-1{
    background-image: url(../images/primary-header-background.gif);
    position: relative;
    height: 285px;
    display: block;
}
.bg-1 img {
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: -138px;
  left: 31%;
}

.bg-3 img,.bg-4 img{
   margin-bottom: 50px;
    border: 1px solid #000;
    



}   

.bg-1 h1{margin-top: -120px;text-align: center;text-transform: uppercase;}


.bg-2{
    background:#1a1a1a url(../images/nav-background.gif) 0 0;
    color: #FFFFFF;
}
.bg-3,.bg-4,.bg-5{
    background:  url(../images/primary-header-background.gif);
  height: auto;
  overflow: hidden;
}

.bg-4{margin-top: 10px;}
.bg-5{}
.bg-6{
    background: rgba(0,0,0,0.5);
    background-image: url(../images/pattern.png)

}
.bg-7{


    background-color: #222;
    background-image: url(../images/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 568px;


}
















/*==========================ABOUT US===========================================*/
     .box {
  padding: 50px 30px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.box.first {
  margin-top: -40px;
  border-radius: 5px 5px 0 0;
}
.box.last {
  border-radius: 0 0 5px 5px;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
#portfolio .box {
  background: #f3f3f3;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*==========================ABOUT US===========================================*/
/*==========================ABOUT US===========================================*/




.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; text-align: center;}

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
}
    
.tittle_h {
  font-size: 50px;
  text-align: center;
background: #1a1a1a url(../images/nav-background.gif) 0 0;
  margin-bottom: 35px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: #FFFFFF;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
  
}
                  


.online {
    font-size: 40px;
    padding-left: 10px;
    
}
.fa{color:#1E1E1E}
a .fa:hover{color:#B4DA74}

.what_we_do h2,.about_us h2,.recent h2 {

    text-align: center;
}

.tittle h4,.tittle p{color: #FFF;}
.item .fa{color: #FFF}







    
    
/*    contact section*/
    
    
    
    


section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}
.row.margin_top_c {
  margin-top: 58px;
}

/*copyright*/




/*=================================================
    section16
=================================================*/
.section16 {
    background: url("images/Pricing-Box-Header.svg") repeat scroll 0 0 #080808;
    color: #fff;
    padding: 30px 0 25px;
    }
.section16 p {
    padding-top: 10px;
    margin-left: 45px;
    }
.footer-icon {
    float: right;
    }
.footer-icon a {
    background: none repeat scroll 0 0 #4a4a4a;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 40px;
    margin-left: 10px;
    outline: medium none;
    padding-top: 3px;
    text-align: center;
    width: 40px;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    }
.footer-icon > a:hover{
    background-color: #0099CD;
    }

/****************
    for copyright
********************/
.single-point {
    border-radius: 100%;
    position: absolute;   
    margin-left: 18px;
    margin-top: 10px;
}
.single-point > a {
    background: none repeat scroll 0 0 #0099cd;
    border-radius: inherit;
    color: #fff;
    display: block;
    height: 19px;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease 0s;
    white-space: nowrap;
    width: 19px;
    z-index: 2;
}

.single-point::after {
    animation: 2s ease 0s normal none infinite running cd-pulse;
    -webkit-animation: 2s ease 0s normal none infinite running cd-pulse;
    background-color: transparent;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}



@keyframes cd-pulse {
0% {
    box-shadow: 0 0 1px 1px rgba(0,153,205, 0.8) inset;
    -webkit-transform: scale(1);
    transform: scale(1);
}
50% {
    box-shadow: 0 0 1px 1px rgba(0,153,205, 0.8) inset;
}
100% {
    box-shadow: 0 0 1px 1px rgba(0,153,205, 0.8) inset;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
}
}
@-webkit-keyframes cd-pulse {
0% {
    box-shadow: 0 0 1px 1px rgba(0,153,205, 0.8) inset;
    -webkit-transform: scale(1);
    transform: scale(1);
}
50% {
    box-shadow: 0 0 1px 1px rgba0,153,205, 0.8) inset;
}
100% {
    box-shadow: 0 0 1px 1px rgba(0,153,205, 0.8) inset;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
}
    
   

